@import url("https://fonts.googleapis.com/css2?family=Khmer&family=Poppins&display=swap");
.emoji-container {
  flex-direction: row;
  height: 350px;
  width: 270px;
  border-radius: 2%;
  background-color: white;
  padding: 10px;
  flex-wrap: wrap;
  flex-basis: 100%;
  position: absolute;
  bottom: 70px;
  /* width: 320px;
  height: 370px; */
}

.emoticon-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 80%;
  padding: 7px;
  width: 97%;
}

.grid {
  height: 30px;
  width: 30px;
  /* height: 35px;
  width: 35px; */
  align-items: center;
  justify-content: left;
  display: flex;
  font-size: 22px;
  cursor: pointer;
}

.grid:hover {
  /* background-color: rgb(170, 169, 169); */
  border-bottom: 4px solid blue;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: White;
  width: 100%;
  overflow: auto;
  border-radius: 5px;
  border: 2px solid gray;
}

.em-nav {
  float: left;
  padding: 0px 10px;
  display: block;
  color: gray;
  text-align: center;
  margin: 5px 0px;
  text-decoration: none;
  font-size: 17px;
}

.em-nav:hover {
  /* background-color: #111; */
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.em-nav::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blue;
  transform-origin: bottom right;
  transition: transform 0.35s ease;
}

.em-nav:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.oIy2qc {
  color: #345252 !important;
  font-size: 17px !important;
  padding-top: 3px !important;
}

.YTbUzc {
  font-size: 17px !important;
  padding-bottom: 10px !important;
}

.open-chat {
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #909497;
  margin-left: 10px;
  border-radius: 50%;
}

.popup {
  height: 338px;
  width: 250px;
  font-family: "Khmer", cursive;
  font-family: "Poppins", sans-serif;
  /* height: 350px;
  width: 300px; */
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji-container-popup {
  height: 350px;
  width: 270px;
  /* width: 320px;
  height: 370px; */
  padding: 10px;
  position: absolute;
}
